{% extends "base_modern.html" %}
{% block content %}
<h3>Laporan Arus Kas - {{ bulan }}/{{ tahun }}</h3>
<form class="row g-2 mb-3" method="get"><div class="col-md-4"><label class="form-label">Proyek</label><select name="project_id" class="form-select"><option value="">Semua Proyek</option>{% for project in projects %}<option value="{{ project.id }}" {% if project_id == project.id %}selected{% endif %}>{{ project.kode }} - {{ project.nama }}</option>{% endfor %}</select></div><div class="col-md-2 align-self-end"><button class="btn btn-primary">Filter</button></div></form>
<table class="table">
  <tr><th>Kas Masuk</th><td>Rp {{ "{:,.0f}".format(kas_masuk) }}</td></tr>
  <tr><th>Kas Keluar</th><td>Rp {{ "{:,.0f}".format(kas_keluar) }}</td></tr>
  <tr class="table-info"><th>Saldo</th><td>Rp {{ "{:,.0f}".format(saldo) }}</td></tr>
</table>
{% endblock %}
